<div class="starter-template container" ng-controller="rootCtrl">
    <p>Filtrovat: <input type="text" ng-model="filter"></p>
    <table class="table">
        <thead>
        <tr>
            <th ng-click="changeOrderBy('ID')" ng-class="{active: predicate.contains('ID')}">ID</th>
            <th ng-click="changeOrderBy('name')" ng-class="{active: predicate.contains('name')}">Název</th>
            <th ng-click="changeOrderBy('project')" ng-class="{active: predicate.contains('project')}">Projekt</th>
            <th ng-click="changeOrderBy('due')" ng-class="{active: predicate.contains('due')}">Termín</th>
            <th ng-click="changeOrderBy('done')" ng-class="{active: predicate.contains('done')}">Stav</th>
            <th>Editovat</th>
            <th>Smazat</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in TS.tasks | filter:filter | orderBy:predicate">
            <td>{{ task.ID }}</td>
            <td>{{ task.name }}</td>
            <td>{{ task.project }}</td>
            <td>{{ task.due | date:'MM/dd/yyyy' }}</td>
            <td><input type="checkbox" ng-model="task.done" ng-click="TS.save(task)"></td>
            <td class="actionCell">
                <i class="glyphicon glyphicon-edit" ng-click="TS.edit(task)" ></i>
            </td>
            <td class="actionCell">
                <i class="glyphicon glyphicon-remove" ng-click="TS.remove(task)" ></i>
            </td>
        </tr>
        </tbody>
    </table>
    <button ng-click="TS.create()" class="create-task btn btn-primary">Vytvořit</button>
</div>
