<div ng-controller="taskEditCtrl">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Úprava úkolu</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="ID" class="col-lg-2 control-label">ID</label>
                <div class="col-lg-2">
                    <input type="text" class="form-control" id="ID" disabled ng-model="cEtask.ID">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Název</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="name" ng-model="cEtask.name">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Projekt</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="projekt" ng-model="cEtask.project">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Datum</label>
                <div class="col-lg-10">
                    <input date-input class="form-control" id="due" ng-model="cEtask.due" />
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Stav</label>
                <div class="col-lg-2">
                    <input type="checkbox" class="form-control" id="done" ng-model="cEtask.done">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning pull-left" ng-click="remove()">Smazat</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Zavřít</button>
        <button type="button" class="btn btn-primary" ng-click="save()">Uložit</button>
    </div>
</div>